# **Project Name**    - Airbnb EDA

##### **Project Type**    - EDA
##### **Contribution**    - Team
##### **Team Member 1 -**Nitin Pal
##### **Team Member 2 -**Shristhi Patel

# **Project Summary -**

Airbnb is an American San Francisco based company that opens a platform for short term homestays and new experiences. The company acts like a mediator and charges a commission from each booking. Airbnb is a short name for Air Bed and Breakfast. They company provides homestays and ensures a good stay for the tourist. There are many factors involved for a listing to perform well like location, minimum duration of stay, rent price etc. In this project we'll do the exploratory data analysis and find out which factors contributes more, which listings, locations are prefered more and what prices tourists expect for those locations. The answers to these are important because only if we know these things then only Airbnb can focus on the problems and make stays better.

# **GitHub Link -**

https://github.com/palnitin12345/Airbnb-EDA.git

# **Problem Statement**

**How to grow business positively**

# ***Let's Begin !***

## 1. Know you data

In [ ]:
#Importing required libraries

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from numpy import math
from scipy import stats

import datetime
from datetime import datetime, timedelta

import warnings
warnings.filterwarnings("ignore")
import requests
import io

In [ ]:

# Downloading the csv file from your GitHub account

url = "https://raw.githubusercontent.com/palnitin12345/Airbnb-EDA/main/Airbnb%20NYC%202019.csv" # Make sure the url is the raw version of the file on GitHub
download = requests.get(url).content

# Reading the downloaded content and turning it into a pandas dataframe

dataset = pd.read_csv(io.StringIO(download.decode('utf-8')))

In [ ]:
# Dataset Rows & Columns count

print(f'Shape of first dataset {dataset.shape}')

Shape of first dataset (48895, 16)

In [ ]:
#Dataset info
#Looking the datatypes

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

Duplicate Values

In [ ]:
#Number of duplicated Rows

len(dataset[dataset.duplicated()])

0

Missing/Null Values

In [ ]:
#Finding null columns in the dataset and percentage of null values.
print("Col     Null values percent")
for col in dataset.columns:
  if dataset[col].notnull().sum() != len(dataset):
    print(f"{col}  :- {round(dataset[col].isnull().sum()*100/len(dataset),2)}")

Col     Null values percent
name  :- 0.03
host_name  :- 0.04
last_review  :- 20.56
reviews_per_month  :- 20.56

### What did you know about your dataset?

## 2. Understanding Your Variables

In [ ]:
#Lets check for columns name

dataset.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [ ]:
# Dataset Describe

dataset.describe(include='all')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,48879,4.889500e+04,48874,48895,48895,48895.000000,48895.000000,48895,48895.000000,48895.000000,48895.000000,38843,38843.000000,48895.000000,48895.000000
unique,NaN,47905,NaN,11452,5,221,NaN,NaN,3,NaN,NaN,NaN,1764,NaN,NaN,NaN
top,NaN,Hillside Hotel,NaN,Michael,Manhattan,Williamsburg,NaN,NaN,Entire home/apt,NaN,NaN,NaN,2019-06-23,NaN,NaN,NaN
freq,NaN,18,NaN,417,21661,3920,NaN,NaN,25409,NaN,NaN,NaN,1413,NaN,NaN,NaN
mean,1.901714e+07,NaN,6.762001e+07,NaN,NaN,NaN,40.728949,-73.952170,NaN,152.720687,7.029962,23.274466,NaN,1.373221,7.143982,112.781327
std,1.098311e+07,NaN,7.861097e+07,NaN,NaN,NaN,0.054530,0.046157,NaN,240.154170,20.510550,44.550582,NaN,1.680442,32.952519,131.622289
min,2.539000e+03,NaN,2.438000e+03,NaN,NaN,NaN,40.499790,-74.244420,NaN,0.000000,1.000000,0.000000,NaN,0.010000,1.000000,0.000000
25%,9.471945e+06,NaN,7.822033e+06,NaN,NaN,NaN,40.690100,-73.983070,NaN,69.000000,1.000000,1.000000,NaN,0.190000,1.000000,0.000000
50%,1.967728e+07,NaN,3.079382e+07,NaN,NaN,NaN,40.723070,-73.955680,NaN,106.000000,3.000000,5.000000,NaN,0.720000,1.000000,45.000000
75%,2.915218e+07,NaN,1.074344e+08,NaN,NaN,NaN,40.763115,-73.936275,NaN,175.000000,5.000000,24.000000,NaN,2.020000,2.000000,227.000000
max,3.648724e+07,NaN,2.743213e+08,NaN,NaN,NaN,40.913060,-73.712990,NaN,10000.000000,1250.000000,629.000000,NaN,58.500000,327.000000,365.000000

Variables Description

1.  **id** :-  Unique id of a booking
2.  **name** :- name of the place/listing
3.  **host_id** :- ID of the host.
4.	**host name**:- The name of the owner of listing.
5.	**neigbhourhood_group**:- city of the listing.
6.	**neigbhourhood**:- the area in which listing falls.
7.	**latitude**:- latitude cordinates of the listing
8.	**longitude**:- longitude cordinates of the listing
9.	**room_type**:- kind of room.
10.	**price**:- price of one night of the listing
11.	**minimum nights**:- minimum number of nights for which you can book.
12.	**number of reviews**	:- total number of reviews it got until now.
13. **last review**:- when was this listing last reviewed.
14.	**reviews last month**:- number of reviews this listing got in last month.
15.	**calculated host listings count**:- How many more listings that host has!
16.	**availability 365**:- How many days listing is available in a year!

Unique Values

In [ ]:
# Check Unique Values for each variable.
for i in dataset.columns.tolist():
  print("No. of unique values in ",i,"is",dataset[i].nunique(),)

No. of unique values in  id is 48895
No. of unique values in  name is 47905
No. of unique values in  host_id is 37457
No. of unique values in  host_name is 11452
No. of unique values in  neighbourhood_group is 5
No. of unique values in  neighbourhood is 221
No. of unique values in  latitude is 19048
No. of unique values in  longitude is 14718
No. of unique values in  room_type is 3
No. of unique values in  price is 674
No. of unique values in  minimum_nights is 109
No. of unique values in  number_of_reviews is 394
No. of unique values in  last_review is 1764
No. of unique values in  reviews_per_month is 937
No. of unique values in  calculated_host_listings_count is 47
No. of unique values in  availability_365 is 366

In [ ]:
#Columns that are categorical in nature

for col in dataset.columns:
  if dataset[col].nunique()<=10:
    print(col)
    print(dataset[col].value_counts())
    print('')

neighbourhood_group
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: room_type, dtype: int64

## 3. Data Wrangling

In [ ]:
dataset['neighbourhood_group'].value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

Null Values treatment

In [ ]:
#We have two columns that have null values. Those are [last_review, reviews_per_month].
#We'll have to fill them with appropriate values

print(f"Percent of null values in both the columns are: {round(dataset['last_review'].isnull().sum()*100/len(dataset),2)}")

Percent of null values in both the columns are: 20.56

In [ ]:
#Calculating the age of the last review.
#For that changing the datatype of last review to datetime

dataset['last_review'] = pd.to_datetime(dataset['last_review'])

#CAlculating age of now

dataset['last_review_age'] = (pd.Timestamp('now') - dataset['last_review']).dt.days

In [ ]:
#Filling null values in reviews per month column.

dataset['reviews_per_month'].replace(np.nan, dataset['reviews_per_month'].mean())

#Filling null values in last_review_age column.

dataset['last_review_age'] = dataset['last_review_age'].replace(np.nan, int(dataset['last_review_age'].mean()))

#Filling the zero values in number of reviews with median

dataset['number_of_reviews'] = dataset['number_of_reviews'].replace(np.nan, dataset['number_of_reviews'].median())

In [ ]:
#Since minimum price cannot be 0 beacuse no one would rent their place for free, so removing those rows.


dataset = dataset[dataset['price']!=0]

In [ ]:
def calculate_outlier(df,column): ## function for calculating outliers
    Q3 = df[column].quantile(0.75)
    Q1 = df[column].quantile(0.25)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    percent_outliers = round(((df[df[column] > upper].shape[0]) + (df[df[column] < lower].shape[0])) / df.shape[0] * 100, 2)
    return lower, upper, percent_outliers

l_min, h_min, percent_min = calculate_outlier(dataset,'minimum_nights')

In [ ]:
#Minimum nights max is too great, so capping it with upper percentile

dataset['minimum_nights'].loc[dataset['minimum_nights']>=h_min] = h_min